<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ONLINE SHOPPING CART : MY CART</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
     <link rel="shortcut icon" type="image/icon" href="images/logo.jpg"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
   <!-- <link rel="stylesheet" href="styles/main1.css">-->
    <!-- endbuild -->
    <!--<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>-->
  </head>
  <body ng-app="yoappApp" >
   
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        
        <div class="container">
         
          <div class="navbar-header">
           

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
<a class="navbar-brand logo" href="index.html"></a>
            <a id="icon" class="navbar-brand" href="#/">MY<br><img class="omg" src="images/logo.jpg"  alt="logo"><br>CART</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
             <div class="search">
    <div class="input-group ">
        <input type="text" ng-model="namesearch"  class="form-control" placeholder="Search Products " aria-describedby="basic-addon2">
        <span class="input-group-addon btn btn-default" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
    </div>
    
</div>
         <ul  id="list" class="nav navbar-nav">
              <li><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About Us</a></li>
              <li><a ng-href="#/">Track Order</a></li>
              <li><a ng-href="#/about">Login</a></li>
              <li><a ng-href="#/">SignUP!</a></li>
            </ul>
          </div>
        </div>
        <div  id="div1" class="btn-group">
			 <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ELECTRONICS<span class="caret"></span>
  </button>
                 <ul class="dropdown-menu">
                    <li><a ng-href="#/mobile">Mobiles</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Mobile Accessories</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">SmartWatches & Wearables</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">One more separated link</a></li>
                    
			 </ul>
                  
			</div>
      <div class="btn-group">
			 <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     LIFESTYLES <span class="caret"></span>
  </button>
                  <ul class="dropdown-menu">
                    <li><a href="http://getbootstrap.com/examples/carousel/#">men</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">women</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">kids & baby</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">One more separated link</a></li>
                    
			 </ul>
			</div>
       
        <div id="div2" class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   AUTOMOTIVE <span class="caret"></span>
  </button>
                 <ul class="dropdown-menu">
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Automobiles</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">bike accessories & helmet</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#"> car electronics & accessories</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">One more separated link</a></li>
                    
			 </ul>
                  
		  </div>
		  
			 <div class="btn-group">
			 <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    APPLIANCES <span class="caret"></span>
  </button>
                 <ul class="dropdown-menu">
                    <li><a  ng-href="#/appliance">All appliances</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Another action</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">One more separated link</a></li>
                    
			 </ul>
                 
			</div>
		  
     
    <div class="btn-group">
			 <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    HOME & FURNITURE <span class="caret"></span>
  </button>
                 <ul class="dropdown-menu">
                    <li><a href="http://getbootstrap.com/examples/carousel/#">furniture</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">kitchen & dining</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">home & furnishing</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://getbootstrap.com/examples/carousel/#">One more separated link</a></li>
                    
			 </ul>
                 
			</div>
    
</div>
 </div>
 
 
 
 <div ng-view="">
 	          
  	          <div class="aouthor-contant" ng-repeat="mobile in result.data.moblies|filter:searchname|filter:namesearch|orderBy:type:reverse">	
    </div>
	  </div>

    <div class="footer">
     
     
       <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; MY CART 2016
                         
                    </div>
                    
                </div>
            </div>
        </div>
       
     
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
	  <script src="scripts/controllers/about.js"></script>
     <script src="scripts/controllers/mobilecontroller.js"></script>
       <script src="scripts/services/mobilefactory.js"></script>   
       <script src="scripts/controllers/appliancectrl.js"></script>
       <script src="scripts/services/appliancefactory.js"></script>       
           
       

        <!-- endbuild -->
</body>
</html>
